.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
yarn.lock
.idea/workspace.xml
.idea/workspace.xml
src/main/index old version.js
src/main/index.dev (2).js
.idea/*
