/* Styles for inside the TinyMCE iframe */

body {
    font-family: 'Segoe UI', sans-serif;
    padding: 0 10px 0 10px;
}

p {
    font-size: 13pt;
    margin-bottom: 0.7em;
}

h1 {
    font-size: 20pt;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 18pt;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

h3 {
    font-size: 16pt;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

blockquote {
    display: block;
    background: #fff;
    padding: 16px 24px 16px 46px;
    margin: 1.3em 0;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 13pt;
    line-height: 1.4;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #e6e6e6;
    -webkit-box-shadow: 2px 2px 15px #e6e6e6;
    box-shadow: 2px 2px 15px #e6e6e6;
}

blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}
